.btn-main {
    color: $color-text-bright;
    font-weight: 700;
    background: $color-accent;
    border-radius: 40px;
    border: solid #8D81AC;
    transition: color .3s, background-color .3s;

    &:hover {
        color: $color-accent;
        background: $color-bg-bright;
    }
}

.title {
    font-weight: 700;
}
a{
    cursor: pointer;
}