//====================================================================================================

@media (min-width: $middle) {

    .header {
        transition: background-color .3s;

        &.header--on-scroll {
            background: $color-bg-dark;

            .header__wrapper {
                padding: rem(10) 0;
                row-gap: rem(10);
            }
        }

        // .header__wrapper
        &__wrapper {
            flex-wrap: wrap;
            gap: rem(21) rem(48);
            padding: rem(22) 0 rem(17);

            &::before {
                display: none;
            }
        }

        // .header__buy
        &__buy {
            font-size: rem(16);
            padding: rem(9) rem(34) rem(8);
            flex-shrink: 0;
        }
    }

    .logo {
        display: flex;
        align-items: flex-end;
        gap: rem(17);

        &:hover &__icon,
        &:hover &__text {
            color: $color-bg-bright;
            fill: $color-bg-bright;
        }

        // .logo__text
        &__text {
            display: inline-block;
            font-size: rem(24);
            font-weight: 700;
            font-family: $font-family-secondary;
            line-height: rem(34);
            text-transform: uppercase;
            color: $color-accent;
            transition: color .3s;
        }
    }

    .burger {
        display: none;
    }

    .nav {
        position: relative;
        width: 100%;
        background: none;
        visibility: visible;
        transform: translateY(0);
        top: 100%;
        opacity: 1;
        z-index: 1;

        // .nav__list
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: rem(20) rem(48);
            padding-bottom: 0;

            @media (max-width: 600px) {
                gap: rem(20) rem(0);
                justify-content: space-around;
            }
        }

        // .nav__item
        &__item {}

        // .nav__link
        &__link {
            padding: 0;
            font-size: rem(16);
            font-weight: 700;
            color: $color-accent;

            &:hover {
                color: $color-text-bright;
            }

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

    }

}

//====================================================================================================

@media (min-width: $large) {

    .header {
        background: none;

        // .header__wrapper
        &__wrapper {
            flex-wrap: nowrap;
            gap: unset;
            column-gap: rem(48);
            padding: rem(28) 0 rem(30);
        }

        // .header__logo
        &__logo {
            order: -1;
        }

        // .header__nav
        &__nav {
            display: flex;
            justify-content: flex-end;
            order: -1;
        }
    }

}

//====================================================================================================