@media (min-width: $middle) {
    .sections {

        // .sections__intro
        &__intro {
            background: url('@img/content/bg/bg-intro.jpg') center / cover no-repeat;
            padding: rem(184) 0 0;
        }

        //.sections__present-text
        &__present-text {
            padding: rem(139) 0 rem(98);
        }

        //.sections__features
        &__features {
            padding: rem(62) 0 rem(2);
        }

        // .sections__testimonials
        &__testimonials {
            background-image: url('@img/content/bg/bg-testmonials-tablet.jpg');
            padding: rem(86) 0 0;
            margin-bottom: 0;
        }

        // .sections__pricing
        &__pricing {
            background: url('@img/content/bg/bg-pricing.jpg') center top / cover no-repeat;
        }
    }

    //====================================================================================================
    //====================================================================================================

    .intro {

        // .intro__wrapper
        &__wrapper {

            &>*:last-child {
                margin-bottom: rem(-63);
            }
        }

        // .intro__title
        &__title {
            font-size: rem(72);
            @include mbNotLast(16)
        }

        // .intro__subtitle
        &__subtitle {
            font-family: $font-family-secondary;
            font-size: rem(24);
            line-height: 1;
            text-transform: lowercase;
            @include mbNotLast(18);

            &::first-letter {
                text-transform: uppercase;
            }

            &--between {
                &:before {
                    content: ' ';
                }
            }
        }

        // .intro__text
        &__text {
            @include mbNotLast(439);
        }

        // .intro__btn
        &__btn {
            font-size: rem(21);
            line-height: 110%;
            padding: rem(18) rem(60) rem(17);
            @include mbNotLast(20);
        }
    }

    //====================================================================================================
    //====================================================================================================

    .present-text {

        // .present-text__container
        &__wrapper {
            max-width: rem(689);
        }

        // .present-text__title
        &__title {
            font-size: rem(42);
            line-height: 100%;
            margin-bottom: rem(14);
            margin-top: rem(16);
        }

        // .present-text__text
        &__text {
            font-size: rem(21);
            line-height: 152%;
            margin-bottom: rem(36);
        }
    }

    //====================================================================================================
    //====================================================================================================

    .features {
        position: relative;

        // .features__wrapper
        &__wrapper {
            padding: 0;
            max-width: rem(702);
            margin: 0 auto;
        }

        // .features__title
        &__title {
            font-size: rem(42);
            line-height: 105%;
            margin-bottom: rem(48);
        }

        // .features__cards
        &__cards {
            align-items: stretch;
            flex-direction: column;
            margin-bottom: rem(71);
        }

        // .feature__editor
        &__editor {
            height: rem(519);
        }

        // .feature__img
        &__img {
            @media (max-width: 690px) {
                left: 0;
                margin-left: 0;
            }

            height: 519px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .cards {

        // .cards__item
        &__item {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: rem(15);
            @include mbNotLast(60);
            max-width: 100%;
        }

        // .cards__img
        &__img {
            margin-bottom: rem(0);
            object-fit: contain;
            // flex: 0 0 rem(120);
        }

        // .cards__text
        &__text {
            text-align: left;
            max-width: rem(575);
            flex: 1 1;
        }

        // .cards__title
        &__title {
            margin-left: rem(5);
            margin-bottom: rem(10);
        }

        // .cards__description
        &__description {
            font-family: $font-family-main;
            color: $color-text-light;
            font-size: rem(14);
            line-height: 150%;
        }
    }

    //====================================================================================================
    //====================================================================================================

    .testimonials {

        // .testimonials__title
        &__title {
            font-size: rem(42);
            line-height: 105%;
            margin-bottom: rem(76);
        }

        // .testimonials__list
        &__list {
            flex-direction: row;
            column-gap: rem(90);
            row-gap: rem(54);
            flex-wrap: wrap;
            @include mbNotLast(57);
        }

        // .testimonials__text
        &__text {
            padding-bottom: rem(19);
            max-width: 93%;

            &::after {
                width: 80%;
            }
        }
    }


    .testimonial-block {
        max-width: rem(322);

        &>* {
            @include mbNotLast(17);
        }

        // .testimonial-block__logo
        &__logo {}
    }

    //====================================================================================================
    //====================================================================================================

    .pricing {

        // .pricing__title
        &__title {
            font-size: rem(42);
            line-height: 105%;
            padding: rem(86) 0 rem(39);
        }

        // .pricing__offers
        &__offers {
            grid-template-columns: repeat(auto-fill, 257px);
            gap: rem(30) rem(25);
        }
    }

    .offers {

        // .offers__item
        &__item {
            &:first-child>.offers__text {
                margin-bottom: rem(69);
                margin-top: rem(27);
            }

            // .offers__item--active
            &--active {
                @media (min-width: 559px) and (max-width: 643px) {
                    max-width: 100%;
                }

                @media (min-width: 559px) {
                    justify-self: end;
                }
            }
        }

        // .offers__title
        &__title {
            margin-bottom: rem(14);
        }

        // .offers__price--active
        &__item--active &__price {
            margin-bottom: rem(14);
        }

        // .offers__rate--active
        &__item--active &__rate {
            padding-bottom: rem(53);
        }

        // .offers__text
        &__text {
            margin-top: rem(33);
            margin-bottom: rem(43);
            line-height: 112%;
        }

        // .offers__text--active
        &__item--active &__text {
            margin-bottom: rem(88);
            margin-top: rem(46);
            line-height: 112%;

        }

        // .offers__price
        &__price {
            line-height: 150%;
            margin-bottom: rem(2);
        }
    }
}

//====================================================================================================
//====================================================================================================


@media (min-width: 840px) {
    .pricing {

        // .pricing__offers
        &__offers {
            grid-template-columns: repeat(2, 257px);
        }
    }
}

//====================================================================================================
//====================================================================================================

@media (min-width: $large) {
    .sections {

        // .sections__intro
        &__intro {
            padding: rem(181) 0 0;
        }

        //.sections__present-text
        &__present-text {
            padding: rem(113) 0 rem(70);
        }

        //.sections__features
        &__features {
            padding: rem(94) 0 rem(22);
            background: #F4F4F4;
        }

        // .sections__testimonials
        &__testimonials {
            background-image: url('@img/content/bg/bg-testmonials.jpg');
            padding-top: rem(105);
        }
    }


    //====================================================================================================
    //====================================================================================================


    .intro {

        // .intro__wrapper
        &__wrapper {

            &>*:last-child {
                margin-bottom: rem(-63);
            }
        }

        // .intro__title
        &__title {
            font-size: rem(82);
        }

        // .intro__subtitle
        &__subtitle {
            font-size: rem(30);
            @include mbNotLast(16);
        }

        // .intro__text
        &__text {
            @include mbNotLast(426);

            &--upper {
                font-size: rem(16);
                text-transform: uppercase;
            }
        }

        // .intro__btn
        &__btn {
            @include mbNotLast(20);
        }
    }

    //====================================================================================================
    //====================================================================================================
    .present-text {

        // .present-text__container
        &__wrapper {
            max-width: rem(906);
        }

        // .present-text__title
        &__title {
            font-size: rem(54);
            margin-bottom: rem(26);
        }
        &__text{
            margin-bottom: rem(20);
        }
    }
    .actions{
    font-weight: 700;

    }

    //====================================================================================================
    //====================================================================================================

    .features {

        // .features__wrapper
        &__wrapper {
            max-width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                'cards title'
                'cards editor';
            column-gap: 15px;
        }

        // .features__title
        &__title {
            font-size: rem(48);
            line-height: 104%;
            margin-bottom: rem(7);
            grid-area: title;
        }

        // .features__cards
        &__cards {
            max-width: rem(540);
            grid-area: cards;
            margin-bottom: rem(46);
        }

        // .feature__editor
        &__editor {
            grid-area: editor;
            position: relative;
        }

        // .feature__img
        &__img {
            left: 0;
            margin-left: rem(-16);
        }
    }

    .cards {
        // .cards__item
        &__item {
            @include mbNotLast(32);
            align-items: self-end;
        }
        &__item:first-of-type{
            margin-bottom: rem(58);
        }
        // .cards__img
        &__img {
            margin-bottom: rem(0);
            object-fit: contain;
            flex: 0 0 rem(120);
            align-self: baseline;
        }

        // .cards__text
        &__text {
            text-align: left;
            max-width: rem(575);
            flex: 1 1;
        }

        // .cards__title
        &__title {
            margin-left: rem(2);
            margin-bottom: rem(12);
        }

        // .cards__description
        &__description {
            font-family: $font-family-main;
            color: $color-text-light;
            font-size: rem(14);
            line-height: 150%;
        }
    }

    //====================================================================================================
    //====================================================================================================

    .testimonials {

        // .testimonials__title
        &__title {
            font-size: rem(48);
            line-height: 104%;
            margin-bottom: rem(73);
        }

        // .testimonials__list
        &__list {
            column-gap: rem(3);
            row-gap: rem(82);
            justify-content: space-between;
            @include mbNotLast(110);
        }

        // .testimonials__text
        &__text {
            padding-bottom: rem(18);
            max-width: 75%;

            &::after {
                width: 87%;
            }
        }
    }

    //====================================================================================================
    //====================================================================================================

    .pricing {

        // .pricing__title
        &__title {
            font-size: rem(48);
            line-height: 104%;
            padding: rem(110) 0 rem(62);
            margin-bottom: rem(2);
        }
    }

    .offers {
        //.offers__item
        &__item{
            &:first-child>.offers__text {
                margin-bottom: rem(60);
                margin-top: rem(36);
            }
        }

        // .offers__title
        &__title {
            padding: rem(32) 0;
            margin-bottom: rem(16);
        }

        // .offers__title--active
        &__item--active &__title {
            padding: rem(38) 0;
            margin-bottom: rem(16);
        }

        // .offers__price--active
        &__item--active &__price {
            margin-bottom: rem(16);
        }

        // .offers__rate--active
        &__item--active &__rate {
            padding-bottom: rem(52);
        }

        // .offers__text
        &__text {
            margin-top: rem(35);
            margin-bottom: rem(41);
        }

        // .offers__text--active
        &__item--active &__text {
            margin-bottom: rem(88);
            margin-top: rem(48);
        }

        // .offers__price
        &__price {
            line-height: 150%;
            margin-bottom: rem(6);
        }
    }
}

//====================================================================================================
//====================================================================================================

@media (min-width: 1135px) {
    .pricing {

        &__offers {
            width: 100%;
            @include flexCenter;
            gap: 0 rem(15);
            padding: 0 0 rem(73);
        }
    }
}