.sections {

    // .sections__intro
    &__intro {
        background: url('@img/content/bg/bg-intro.jpg') center / 450% no-repeat;
        padding: rem(152) 0 0;
    }

    //.sections__present-text
    &__present-text {
        padding: rem(126) 0 rem(88);
    }

    //.sections__features
    &__features {
        padding: rem(30) 0 rem(6);
        background: rgba(0, 0, 0, 0.0001);
    }

    // .sections__testimonials
    &__testimonials {
        background: url("@img/content/bg/bg-testmonials-mobile.jpg") center top / cover no-repeat,
            $color-bg-dark-accent;
        padding: rem(46) 0 rem(5);
        margin-bottom: rem(-1);
    }

    //.sections__pricing
    &__pricing {
        background-color: #4b3b4e;
        margin-top: rem(-1);
    }
}


//====================================================================================================
//====================================================================================================

.intro {

    // .intro__container
    &__container {}

    // .intro__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &>*:last-child {
            margin-bottom: rem(-50);
        }
    }

    // .intro__title
    &__title {
        font-size: rem(48);
        color: $color-text-bright;
        @include mbNotLast(22);
    }

    // .intro__subtitle
    &__subtitle {
        font-size: rem(18);
        line-height: 133%;
        color: $color-accent;
        text-transform: capitalize;
        @include mbNotLast(17);

        &--between {
            &:before {
                content: "-";
            }
        }
    }

    // .intro__text
    &__text {
        color: $color-text-light;
        font-size: rem(14);
        @include mbNotLast(394);

        &--upper {
            text-transform: uppercase;
        }
    }

    // .intro__btn
    &__btn {
        font-size: rem(18);
        padding: rem(10) rem(29) rem(9);
        line-height: rem(22);
        @include mbNotLast(13);
    }
}

//====================================================================================================
//====================================================================================================

.present-text {

    // .present-text__container
    &__wrapper {
        max-width: rem(273);
        text-align: center;
        margin: 0 auto;
    }

    // .present-text__title
    &__title {
        font-size: rem(26);
        line-height: 108%;
        text-transform: uppercase;
        color: #635C73;
        margin-bottom: rem(20);
    }

    // .present-text__text
    &__text {
        font-family: $font-family-secondary;
        font-size: rem(14);
        line-height: 143%;
        margin-bottom: rem(31);
    }
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $font-family-secondary;
    font-weight: 400;
    color: #24292e;
    gap: rem(20) rem(6);

    &__link {
        margin: 0;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        font-size: rem(14);
        line-height: 143%;
        padding: rem(2) rem(8);
        display: inline-block;
        vertical-align: middle;
    }

    &__link:hover {
        background-image: linear-gradient(-180deg, #fafbfc, #d1d9df 90%);
        border-color: rgba(51, 48, 48, .4);
    }

    &__icon {
        vertical-align: -10%;
    }

    &__count {
        background-color: $color-bg-bright;
        border: rem(1) solid rgba(27, 31, 35, .2);
        border-bottom-right-radius: rem(3);
        border-left: 0;
        border-top-right-radius: rem(3);
        font-size: rem(12);
        line-height: 167%;
        padding: rem(2) rem(9);
        vertical-align: middle;
        display: inline-block;
        margin-left: rem(-3);
    }
}

//====================================================================================================
//====================================================================================================

.features {

    // .features__wrapper
    &__wrapper {
        padding: 0 rem(15);
    }

    // .features__title
    &__title {
        text-align: center;
        color: $color-accent;
        font-size: rem(32);
        line-height: 119%;
        margin-bottom: rem(33);
    }

    // .features__cards
    &__cards {
        @include flexCenter;
        flex-direction: column;
        margin-bottom: rem(55);
    }

    // .feature__editor
    &__editor {
        height: rem(381);
    }

    // .feature__img
    &__img {
        margin-left: rem(-22);
        height: 100%;
        object-fit: cover;
    }
}

.cards {

    // .cards__item
    &__item {
        @include flexCenter;
        flex-direction: column;
        @include mbNotLast(34);
    }

    // .cards__img
    &__img {
        margin-bottom: rem(25);
    }

    // .cards__text
    &__text {
        text-align: center;
    }

    // .cards__title
    &__title {
        margin-bottom: rem(12);
    }

    // .cards__description
    &__description {
        font-family: $font-family-secondary;
        color: $color-text-light;
        font-size: rem(14);
        line-height: 150%;
    }
}

//====================================================================================================
//====================================================================================================

.testimonials {

    // .testimonials__container
    &__container {}

    // .testimonials__title
    &__title {
        font-size: rem(36);
        line-height: 133%;
        text-transform: capitalize;
        color: $color-text-bright;
        text-align: center;
        margin-bottom: rem(34);
    }

    // .testimonials__list
    &__list {
        @include flexCenter;
        flex-direction: column;
        row-gap: rem(35);
        @include mbNotLast(29);
    }

    // .testimonials__item
    &__item {}

    // .testimonials__text
    &__text {
        font-family: $font-family-secondary;
        font-size: rem(14);
        text-align: center;
        line-height: 150%;
        color: #a291a5;
        padding-bottom: rem(28);
        position: relative;
        max-width: 84%;
        margin: 0 auto;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: rem(2);
            width: 97%;
            background: #645766;
        }
    }
}

.testimonial-block {
    @include flexCenter;
    flex-direction: column;
    max-width: rem(270);

    // .testimonial-block__logo
    &__logo {
        height: rem(64);
        max-width: 100%;
        @include flexCenter;
        @include mbNotLast(15);
    }

    // .testimonial-block__img
    &__img {
        object-fit: contain;
    }

    // .testimonial-block__text
    &__text {
        font-family: $font-family-secondary;
        text-align: center;
        line-height: 150%;
        font-weight: 700;
        font-style: italic;
        color: $color-text-bright;
    }
}

//====================================================================================================
//====================================================================================================

.pricing {
    color: $color-text-bright;
    text-align: center;

    // .pricing__title
    &__title {
        font-size: rem(28);
        line-height: 150%;
        padding: rem(2) 0 rem(26);
    }

    // .pricing__offers
    &__offers {
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 18px;
        grid-template-columns: 257px;
        padding: 0 0 10px;
        justify-content: center;
    }
}


.offers {

    // .offers__item
    &__item {
        background-color: rgba(255, 255, 255, 0.11);
        width: rem(257);
        height: rem(457);
        &:first-child>.offers__text {
            margin-bottom: rem(30);
            margin-top: rem(23);
        }

        //.offers__item--active
        &--active {
            width: rem(299);
            height: rem(560);
            background-color: rgba(70, 48, 72, 0.84);
        }
    }

    // .offers__title
    &__title {
        background-color: rgba(255, 255, 255, 0.06);
        font-size: rem(24);
        line-height: 100%;
        text-transform: uppercase;
        padding: rem(36) 0;
        margin-bottom: rem(28);
    }

    // .offers__title--active
    &__item--active &__title {
        background-color: rgba(0, 0, 0, 0.11);
        padding: rem(42) 0;
        margin-bottom: rem(13);
    }

    // .offers__price
    &__price {
        // font-weight: 700;
        font-size: rem(60);
        line-height: 103%;
        margin-bottom: rem(18);
    }

    // .offers__price--active
    &__item--active &__price {
        font-size: rem(82);
        line-height: 102%;
        margin-bottom: rem(15);
    }

    //.offers__rate
    &__rate {
        position: relative;
        font-size: rem(14);
        line-height: 114%;
        text-transform: uppercase;
        padding-bottom: rem(43);

        &::after {
            position: absolute;
            content: "";
            width: rem(60);
            height: rem(5);
            background-color: $color-accent;
            bottom: 0;
            left: 38%;
        }
    }

    //.offers__rate--active
    &__item--active &__rate {
        padding-bottom: rem(53);
    }

    // .offers__text
    &__text {
        margin: rem(24) 0 rem(32);
        font-size: rem(16);
        line-height: 175%;
    }

    // .offers__text--active
    &__item--active &__text {
        line-height: 200%;
        margin-bottom: rem(73);
        margin-top: rem(31);
    }

    // .offers__btn
    &__btn {
        font-size: rem(15);
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 40px;
        padding: rem(13) rem(36);
        border-width: 1px;
        transition: color 0.3s, background-color 0.3s;
        margin-bottom: rem(37);

        &:hover {
            color: $color-accent;
            background-color: $color-bg-dark-accent;
        }
    }

    // .offers__btn--active
    &__item--active &__btn {
        font-size: rem(16);
        line-height: 113%;
        margin-bottom: rem(47);
        padding: rem(19) rem(48);
    }
}