@use "sass:math";

// Imports fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap');

// Imports base files (reset, mixins, vars)
@import "./base/_base";

//====================================================================================================

html:has(.nav--open) {
    overflow: hidden;
}

body {
    min-width: 320px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: $font-family-main;
    font-size: $font-size-main;
    color: $color-text-dark;
    font-weight: 400;

    @supports (overflow: clip) {
        overflow: clip;
    }

    >main {
        flex: 1 1 auto;
    }

    // Fix for sliders
    >* {
        min-width: 0;
    }
}

//====================================================================================================

[class*="__container"] {
    max-width: calc(rem($container-width-main) + rem($container-padding-main) * 2);
    margin: 0 auto;
    padding: 0 rem($container-padding-main);
}

//====================================================================================================

// Import styles for parts
@import "_header";
@import "_footer";

// Import styles for pages
@import "index";

// Import media quaries
@import "./media/_media";